.view {
  padding: 0 15%;
  min-height: 100vh;
}

/* Customize themes */
.view--yellow {
  background-color: #ffcc04;
}

.view--yellow .item__image img {
  border: 4px solid black;
}

.view--yellow .header__button {
  border: 2px solid black;
}


.view--black {
  background-color: rgb(17, 17, 17);
}

.view--black .header__title{
  color: whitesmoke;
}

.view--black .item__category {
  color: #ffcc04;
}

.view--black .item__image img {
  border: 4px solid whitesmoke;
}

.view--black .header__button {
  border: 2px solid whitesmoke;
  color: whitesmoke;
}



.view--white .header__title, .view--white .item__category{
  /* color: #f01c24; */
  color: #1e2177;
}

.view--white .item__image img {
  border: 4px solid #f01c24;
}

.view--white .header__button {
  border: 2px solid #1e2177;
  color: #1e2177;
}


.view--red {
  background-color: #f01c24;
}

.view--red .header__title{
  color: whitesmoke;
}

.view--red .item__category {
  color: #ffcc04;
}

.view--red .item__image img {
  border: 4px solid black;
}

.view--red .header__button {
  border: 2px solid whitesmoke;
  color: whitesmoke;
}


.view--blue {
  background-color: #1e2177;
}

.view--blue .header__title{
  color: #ffcc04;
}

.view--blue .item__category {
  color: whitesmoke;
}

.view--blue .item__image img {
  border: 4px solid #ffcc04;
}

.view--blue .header__button {
  border: 2px solid #ffcc04;
  color: whitesmoke;
}


.view--light-blue {
  background-color: #08acec;
}

.view--light-blue .header__title{
  color: #ffcc04;
}

.view--light-blue .item__category {
  color: whitesmoke;
}

.view--light-blue .item__image img {
  border: 4px solid #ffcc04;
}

.view--light-blue .header__button {
  border: 2px solid #ffcc04;
  color: whitesmoke;
}

/* General styles */

.view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding-top: 3rem;
}

.header__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.header__logo {
  margin: 0;
  width: 16rem;
}

.header__logo img {
  width: 100%;
}

.header__button {
  cursor: pointer;
  background: none;
  padding: .5rem 1rem;  
  font-size: 1rem;
}

.header__button i {
  margin-right: .5rem;
}

.subcategory-list.cols--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.subcategory-list.cols--2 .nav-item {
  max-width: 320px;
}

.subcategory-list.cols--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.subcategory-list.cols--4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.item__image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.item__image img {
  width: 100%;
}

.nav-item {
  cursor: pointer;
}

.item__category {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  font-weight: bold;
}