.navButton{
    margin-top: 2%;
    margin-left: 35%;
    width: 100px;
    height: 50px;
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
}

.navText{
    margin-left: 2%;
    font-size: larger;
    vertical-align: middle;
}

.navOption{
  display: 'flex';
  align-items: 'center';
}

@media screen and (max-width: 1700px){
    .navButton{
        margin-top: 2%;
        margin-left: 30%;
        width: 100px;
        height: 50px;
    }
}
@media screen and (max-width: 1300px){
    .navButton{
        margin-top: 2%;
        margin-left: 25%;
        width: 100px;
        height: 50px;
    }
}
