@font-face {
    font-family: 'CarbonBlock';
    src: url('/public/fonts/CarbonBlock.ttf') format('truetype');
  }

.navButton{
    height: 8rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.Link {
    color: inherit;
    text-decoration: none;
  }

.navOptions{
    margin-left: 25%;
    margin-right: 25%;
}

.imgcenter{
    height: 200px;
    margin: 0 10px;
}

.imgcenter-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.center{
    text-align: center;
    font-family: 'CarbonBlock';
    font-size: 4rem;
}

.navText{
    margin-left: 3rem;
    font-size: 3rem;
    vertical-align: middle;
    font-family: 'CarbonBlock';
}
.navText:hover{
    text-decoration: underline;
}
.navText:active{
    color: rgb(92, 92, 92);
}

.navOption{
  display: 'flex';
  align-items: 'center';
  vertical-align: middle;
  margin-top: .75%;
  margin-bottom: .75%;
}
.navOption:hover{
    background-color: whitesmoke;
}
.navOption:active{
    background-color: rgb(236, 236, 236);
}

.buttonImage{
    height: 100%;
    width: auto;
}

@media screen and (min-width: 1300px){
    .navOptions{
        margin-left: 25%;
        margin-right: 5%;
    }

}
@media screen and (min-width: 1600px){
    .navOptions{
        margin-left: 30%;
        margin-right: 21%;
    }
    .navOption{
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
}
@media screen and (min-width: 2100px){

    .navOptions{
        margin-left: 35%;
        margin-right: 20%;
    }
    .navOption{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .navText{
        font-size: 3.5rem;
    }
    .center{
        font-size: 5rem;
    }
}
